@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

body {
  background-color: #d9f99d;
  color: black;
}

h1 {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.7rem;
}

input {
  font-size: 1.3rem;
  margin: 1rem;
  margin-top: 0rem;
  padding: 0.6rem;
}
button {
  font-size: 1.3rem;
  padding: 0.8rem;
  border-radius: 10px;
}

#message {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem;
}
